In [32]:
%config IPCompleter.greedy=True

In [33]:
import pandas as pd
import os

In [34]:
mainpath = "/home/fede/algoritmos/datasets/"
filename = "titanic3.csv"
fullpath = os.path.join(mainpath,filename)

In [35]:
# df = pd.read_csv("../datasets/titanic3.csv")
df = pd.read_csv(fullpath)

# head de pandas

In [36]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [37]:
df.columns.values

array(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype=object)

In [40]:
data_cols = df["ticket"].tolist()

# Carga de datos con fn open

In [47]:
data = open("/home/fede/algoritmos/datasets/customer-churn-model",'r')

In [50]:
cols = data.readline().strip().split(",")

In [51]:
cols

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [52]:
n_cols = len(cols)

In [53]:
n_cols

21

In [61]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col]=[]  #genera array por cada item
print (main_dict)

{'State': [], 'Account Length': [], 'Area Code': [], 'Phone': [], "Int'l Plan": [], 'VMail Plan': [], 'VMail Message': [], 'Day Mins': [], 'Day Calls': [], 'Day Charge': [], 'Eve Mins': [], 'Eve Calls': [], 'Eve Charge': [], 'Night Mins': [], 'Night Calls': [], 'Night Charge': [], 'Intl Mins': [], 'Intl Calls': [], 'Intl Charge': [], 'CustServ Calls': [], 'Churn?': []}

In [68]:
for line in data:
    values = line.strip().split(',')
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter+=1
print("El dataset tiene %d columnas y %d filas"%(n_cols,counter))

El dataset tiene 21 columnas y 3333 filas