# T2 - 3 Data Cleaning

 Agregar datos

In [1]:
import numpy as np
import pandas as pd

In [2]:
gender =['Male','Female']
income =['Poor','Middle Class','Rich']

In [5]:
n = 500
gender_data =[]
income_data =[]

for i in range(n):
    gender_data.append(np.random.choice(gender)) 
    income_data.append(np.random.choice(income))

In [7]:
gender_data[:10]

['Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female']

In [23]:
height= 162 +30*np.random.randn(n)
weigth = 65 +25 * np.random.rand(n)
age = 30 +12 *np.random.rand(n)
income = 18000 + 3500 *np.random.rand(n)

In [24]:
data = pd.DataFrame({
    'Gender':gender_data,
    'Economic_Status':income_data,
    'Height':height,
    'Weight':weigth,
    'Age':age,
    'income':income_data
})

In [25]:
data.head()

   Gender Economic_Status      Height     Weight        Age        income
0  Female            Rich  103.609147  84.669521  35.195082          Rich
1    Male    Middle Class  161.178400  79.263614  35.854119  Middle Class
2    Male            Poor  144.059413  66.202267  34.665396          Poor
3  Female            Poor  164.873691  86.796675  36.053305          Poor
4    Male    Middle Class  144.051353  88.590890  39.329744  Middle Class